.brhothers-classes {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 8rem;
}

.brhothers-classes .para {
  font-size: 1.25rem;
  color: var(--color-blue);
}

.brhothers-classes>a {
  width: 285px;
}

#founding-fathers{
  font-size: 2rem;
  margin: 4rem 0;
  color: var(--color-blue);
}

@media only screen and (min-width: 700px) {
  .brhothers-classes {
    max-height: 1000px;
    flex-wrap: wrap;
    align-content: center;
    width: calc(100vw - 10rem);
  }
}

@media only screen and (min-width: 1200px) {

  .brhothers-classes {
    max-height: 500px;
  }

}
