.brhothers-main {
  flex-direction: column;
  align-items: center;
}

.brhothers-main .para {
  text-align: center;
}

.brhothers-classes {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.brhothers-classes>a {
  width: 285px;
}

.brhothers-main a, .brhothers-main a:link, .brhothers-main a:visited, .brhothers-main a:active {
  color: var(--color-blue);
}

.brhothers-classes a h2 {
  font-size: 1.5rem;
}

#founding-fathers{
  font-size: 2rem;
  margin: 4rem 0;
}

@media only screen and (min-width: 700px) {
  .brhothers-classes {
    max-height: 1000px;
    flex-wrap: wrap;
    align-content: center;
    width: calc(100vw - 10rem);
  }
}

@media only screen and (min-width: 1200px) {

  .brhothers-main {
    margin-top: 0;
  }

  .brhothers-main .para {
    width: 50vw;
    max-width: 800px;
  }

  .brhothers-classes {
    max-height: 500px;
  }

}
