.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  border-top: solid 1px lightgray;
  padding: 1rem 0;
}

.footer-container p {
  font-size: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

@media only screen and (min-width: 700px ) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
  }

  .footer-container p {
    font-size: 1.25rem;
  }
}