/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:wght@300;400;700&display=swap');
/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Merriweather', serif;      Light 300 / Regular 400 / Bold 700 */



@media only screen and (max-width: 1199px) {
	.header {
		position: sticky;
		top: 0px;
		z-index: 2;
	}
}

.layout {
  display: flex;
	flex-direction: column;
	justify-content: center;
  min-height: 100vh;
}

.layout main {
	min-height: calc(100vh - 8rem);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	background-color: var(--color-blue);
}

:root {
	--color-blue: #102963;
	--color-white: #f2deb0;
	--color-lightblue: #4975fa;
}



/* PAGE STYLES */

.pageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 1rem;
  gap: 4rem;
}

.pageTitle {
  margin: 5rem auto;
	font-family: 'Abril Fatface', cursive;
	font-size: 2.5rem;
	font-weight: 600;
}

.pageSubtitle {
	font-family: 'Abril Fatface', cursive;
	letter-spacing: .05rem;
}

.para {
	word-spacing: .25rem;
  line-height: 1.75rem;
	font-family: 'Merriweather', serif;
	font-size: regular;
	font-weight: 400;
}

@media only screen and (min-width: 1200px) {
  .pageMain {
    flex-direction: row;
    max-width: 1200px;
    gap: 2rem;
    align-items: flex-start;
  }

  .pageMain>* {
    flex: 1;
  }

  .pageMain .pageTitle {
    margin-top: 10rem;
  }
}