/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:wght@300;400;700&display=swap');
/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Merriweather', serif;      Light 300 / Regular 400 / Bold 700 */



.header {
	width: 100vw;
	background-color: white;
	position: sticky;
	top: 0px;
	z-index: 3;
}

.header-container {
	display: block;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	align-items: center;
	margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
	.header-container {
		display: flex;
	}
}

.layout {
  display: flex;
	flex-direction: column;
	justify-content: center;
  min-height: 100vh;
	background-color: whitesmoke;
}

.layout main {
	min-height: calc(100vh - 8rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: inset 0 20px 15px -5px lightgrey;
}

a {
	text-decoration: none;
}

pre {
	white-space: pre-wrap;
  word-wrap: break-word;
}

:root {
	--color-blue: #102963;
	--color-white: #f2deb0;
	--color-lightblue: #6893ff;
}



/* PAGE STYLES */

.blueBackground {
	background-color: var(--color-lightblue);
}

.pageHeading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pageHeadingImg {
	width: 100vw;
	max-width: 1500px;
	height: 60vw;
	max-height: 600px;
	object-fit: cover;
}

.pageTitle {
	font-family: 'Abril Fatface', cursive;
	font-size: 2rem;
	font-weight: 600;
	color: var(--color-blue);
	padding: .5rem;
	margin: 6rem 0;
	border-bottom: solid 2px var(--color-blue);
}

.pageSubtitle {
	font-family: 'Abril Fatface', cursive;
	font-size: 1.75rem;
	letter-spacing: .05rem;
	color: var(--color-blue);
	text-align: center;
	margin: 1rem 0;
}

.para {
	word-spacing: .25rem;
  line-height: 1.75rem;
	font-family: 'Merriweather', serif;
	font-size: regular;
	font-weight: 400;
}

.pageDiv, .pagePara {
	display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.pageDiv>* {
	width: calc(100vw - 3rem);
  height: auto;
  margin: 2rem 1rem;
}

.pagePara {
	align-items: flex-start;
}

.pageContainer {
	display: flex;
	justify-content: center;
	width: 100vw;
}

@media only screen and (min-width: 1200px) {

	.pageHeadingImg {
		height: 600px;
	}

	.pageDiv>* {
		width: calc((1200px - 8rem) / 2);
    margin: 0;
	}

	.pageDiv {
		flex-direction: row-reverse;
    gap: 8rem;
    max-width: 1200px;
    padding: 4rem 0;
	}

	.single {
    width: 100vw;
    max-width: 1200px;
  }

}
