.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem .5rem;
  width: calc(100vw - 1rem);
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-blue);
  font-family: 'Abril Fatface', cursive;
}

.title{
  text-align: center;
}

.logo h1 {
  font-size: 2rem;
}

.logo h2 {
  font-size: 1.5rem;
  display: block;
}

.menu-icon img{
  width: 30px;
  height: auto;
}

@media only screen and (min-width: 1000px ) {
  .menu-icon {
    display: none;
  }

  .logo {
    width: fit-content;
  }
}

@media only screen and (min-width: 1200px ) {
  .logo h1 {
    font-size: 3.5rem;
    margin-top: -.5rem;
  }
}