.navbar a, .navbar a:link, .navbar a:visited, .navbar :active {
  text-decoration: none;
  color: var(--color-blue);
}

.navbar {
  margin: 0 1rem;
}

.navbar-container {
  display: none;
}

.mobile-nav {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 4rem;
  background-color: #e4e4e4e2;
  width: 100vw;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.nav-item a, .nav-item a:link, .nav-item a:visited, .nav-item a:active {
  color: var(--color-blue);
}

.active {
  visibility: visible;
  top: 4.5rem;
  z-index: 2;
  opacity: 1;
}

.active .nav-item {
  height: 4rem;
}

.nav-item {
  height: 3.5rem;
  border-bottom: solid 1px lightgray;
  transition: all 0.2s ease-in;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .navbar-container {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 2rem;
  }

  .navbar {
    height: 6rem;
    display: flex;
    align-items: center;
  }

  .navbar-container>* {
    padding: calc(2.5rem - 1px) 0;
  }

  .navbar-container [aria-current] {
    border-bottom: solid 3px var(--color-blue);
  }
}


